@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Indie+Flower&family=Lora:wght@400;500;600&family=Love+Light&family=Moon+Dance&family=Roboto+Slab&family=Rowdies&family=Source+Sans+Pro:wght@300&family=Syne+Tactile&family=Titillium+Web&family=Vujahday+Script&display=swap');

@mixin align($textalign,$alignitems,$justifycont){
    text-align: $textalign;
    align-items: $alignitems;
    justify-content: $justifycont;
}
$linkbox:red;
$linkcolor:white;
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bungee', cursive;
    // font-family: 'Lora', serif;
    // font-family: 'Roboto Slab', serif;
    // font-family: 'Rowdies', cursive;
    font-family: 'Titillium Web', sans-serif;
    // background-color: aqua;
    @include align(center,center ,center );
    min-height: 100vh;
    display: flex;
    background-color: aquamarine;
}
.container{
    font-family: 'Bungee', cursive;
    background-color: aqua;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
        h1{
            font-family: 'Bungee', cursive;
            text-shadow:3px 3px 3px rgba(0,0,0,0.3rem),4px 4px 4px rgba(255,255,255,1);
            cursor: default;
        }
    }
    .singlepersonbox{
        display: flex;
        background-color: white;
        font-family: 'Titillium Web', sans-serif;
        margin: 1rem auto;
        border-radius: 0.5rem;
        padding: 1rem;
        width: 100%;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
        // display: flex;
            .image{
                width:25%;
            }
            .persondetailbox{
                position: relative;
                float: right;
                left: 1rem;
                @include align(left,center,center);
                // top: 0.5rem;
                margin: auto;
                h3{
                    padding: 0.5rem;
                }
            }
        }
.linkbox{
    border-radius: 0.5rem;
    width: 50%;
    padding: 0.5rem;
    background-color: $linkcolor;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-color: $linkbox;
    margin: auto;
    margin-bottom: 1rem;
        .link{
        text-decoration:none;
        text-shadow:4px 4px 5px rgba(0,0,0,0.5);
        width: 100%;
        color: $linkcolor;
    }
}
